<!DOCTYPE html>
<html>
<head>
  <title>Mushroom Edibility Detector</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>Mushroom Edibility Detector</h1>
    <p>Select the characteristics of a mushroom to see if it's edible or poisonous.</p>

    <form method="POST"> 
      <label>Cap Shape:</label>
      <select id = "cap-shape" name="cap-shape" required>
         <option value = "c"> Conical </option> 
         <option value = "x"> Convex </option> 
         <option value = "f"> Flat </option> 
         <option value = "k"> Knobbed </option> 
         <option value = "s"> Sunken </option> 
        </select>

      <label>Cap Surface:</label>
      <select id="cap-surface" name="cap-surface" required>
        <option value = "f"> Fibrous </option>
        <option value = "g"> Grooves </option>
        <option value = "y"> Scaly </option>
        <option value = "s"> Smooth </option>
      </select>

      <label>Cap Color:</label>
      <select id="cap-color" name="cap-color" required>
        <option value = "n"> Brown </option>
        <option value = "b"> Buff </option>
        <option value = "c"> Cinnamon </option>
        <option value = "g"> Gray </option>
        <option value = "r"> Green </option>
        <option value = "p"> Pink </option>
        <option value = "u"> Purple </option>
        <option value = "e"> Red </option>
        <option value = "w"> White </option>
        <option value = "y"> Yellow </option>
      </select>

      <label>Bruises:</label>
      <select id="bruises" name="bruises" required>
        <option value = "t"> Yes </option>
        <option value = "f">No </option>
      </select>

      <label>Odor:</label>
      <select id="odor" name="odor" required>
        <option value = "a"> Almond </option>
        <option value = "l"> Anise </option>
        <option value = "c"> Creosote </option>
        <option value = "y"> Fishy </option>
        <option value = "m"> Musty </option>
        <option value = "n"> None </option>
        <option value = "p"> Pungent </option>
        <option value = "s"> Spicy </option>
        </select>

      <label>Gill Attachment:</label>
      <select id="gill-attachment" name="gill-attachment" required>
        <option value = "a"> Attached </option>
        <option value = "d"> Descending </option>
        <option value = "f"> Free </option>
        <option value = "n"> Notched </option>
      </select>

      <label>Gill Spacing:</label>
      <select id="gill-spacing" name="gill-spacing" required>
        <option value = "c"> Close </option>
        <option value = "w"> Crowded </option>
        <option value = "d"> Distant </option>
      </select>

      <label>Gill Size:</label>
      <select id="gill-size" name="gill-size" required>
        <option value = "b"> Broad </option>
        <option value = "n"> Narrow </option>
      </select>

      <label>Gill Color:</label>
      <select id="gill-color" name="gill-color" required>
        <option value = "k"> Black </option>
        <option value = "n"> Brown </option>
        <option value = "b"> Buff </option>
        <option value = "h"> Chocolate </option>
        <option value = "g"> Gray </option>
        <option value = "r"> Green </option>
        <option value = "o"> Orange </option>
        <option value = "p"> Pink </option>
        <option value = "u"> Purple </option>
        <option value = "e"> Red </option>
        <option value = "w"> White </option>
        <option value = "y"> Yellow </option>
        

      </select>

      <label>Stalk Shape:</label>
      <select id="stalk-shape" name="stalk-shape" required>
        <option value = "e"> Enlarging </option>
        <option value = "t"> Tapering </option>

      </select>

      <label>Stalk Root:</label>
      <select id="stalk-root" name="stalk-root" required>
        <option value = "b"> Bulbous </option>
        <option value = "c"> Club </option>
        <option value = "u"> Cup </option>
        <option value = "e"> Equal </option>
        <option value = "z"> Rhizomorphs </option>
        <option value = "r"> Rooted </option>
        <option value = "?"> Missing </option>

      </select>

      <label>Stalk Surface Above Ring:</label>
      <select id="stalk-surface-above-ring" name="stalk-surface-above-ring" required>
        <option value = "f"> Fibrous </option>
        <option value = "y"> Scaly </option>
        <option value = "k"> Silky </option>
        <option value = "s"> Smooth </option>
    
      </select>

      <label>Stalk Surface Below Ring:</label>
      <select id="stalk-surface-below-ring" name="stalk-surface-below-ring" required>
        <option value = "f"> Fibrous </option>
        <option value = "y"> Scaly </option>
        <option value = "k"> Silky </option>
        <option value = "s"> Smooth </option>

      </select>

      <label>Stalk Color Above Ring:</label>
      <select id="stalk-color-above-ring" name="stalk-color-above-ring" required>
        <option value = "n"> Brown </option>
        <option value = "b"> Buff </option>
        <option value = "c"> Cinnamon </option>
        <option value = "g"> Gray </option>
        <option value = "o"> Orange </option>
        <option value = "p"> Pink </option>
        <option value = "e"> Red </option>
        <option value = "w"> White </option>
        <option value = "y"> Yellow </option>


      </select>  

      <label>Stalk Color Below Ring:</label>
      <select id="stalk-color-below-ring" name="stalk-color-below-ring" required>
        <option value = "n"> Brown </option>
        <option value = "b"> Buff </option>
        <option value = "c"> Cinnamon </option>
        <option value = "g"> Gray </option>
        <option value = "o"> Oorange </option>
        <option value = "p"> Pink </option>
        <option value = "e"> Red </option>
        <option value = "w"> White </option>
        <option value = "y"> Yellow </option>

      </select>

      <label>Veil Type:</label>
      <select id = "veil-type" name="veil-type" required>
         <option value = "p"> Partial</option> 
         <option value = "u"> Universal</option> 
      </select>
      
      <label>Veil Color:</label>
      <select id = "veil-color" name="veil-color" required>
         <option value = "n"> Brown</option> 
         <option value = "o"> Orange</option>
         <option value = "w"> White</option>
         <option value = "y"> Yellow</option>
      </select>
      
      <label>Ring Number:</label>
      <select id = "ring-number" name="ring-number" required>
         <option value = "n"> None</option> 
         <option value = "o"> One</option>
         <option value = "t"> Two</option>
      </select>
      
      <label>Ring Type:</label>
      <select id = "ring-type" name="ring-type" required>
         <option value = "c"> Cobwebby</option> 
         <option value = "e"> Evanescent</option>
         <option value = "f"> Flaring</option>
         <option value = "l"> Large</option>
         <option value = "n"> None</option>
         <option value = "p"> Pendant</option>
         <option value = "s"> Sheating</option>
         <option value = "z"> Zone</option>
      </select>
      <label>Spore Print Color:</label>
      <select id = "spore-print-color" name="spore-print-color" required>
         <option value = "k"> Black</option> 
         <option value = "n"> Brown</option>
         <option value = "b"> Buff</option>
         <option value = "h"> Chocolate</option>
         <option value = "r"> Green</option>
         <option value = "o"> Orange</option>
         <option value = "u"> Purple</option>
         <option value = "w"> White</option>
         <option value = "y"> Yellow</option>
      </select>
      
      <label>Population:</label>
      <select id = "population" name="population" required>
         <option value = "a"> Abundant</option> 
         <option value = "c"> Clustered</option>
         <option value = "n"> Numerous</option>
         <option value = "s"> Scattered</option>
         <option value = "v"> Several</option>
         <option value = "y"> Solitary</option>
      </select>
      
      <label>Habitat:</label>
      <select id = "habitat" name="habitat" required>
         <option value = "g"> Grasses</option> 
         <option value = "l"> Leaves</option>
         <option value = "m"> Meadows</option>
         <option value = "p"> Paths</option>
         <option value = "u"> Urban</option>
         <option value = "w"> Waste</option>
         <option value = "d"> Woods</option>
      </select>
      
      <button type="submit">Predict</button>
    </form>

    {% if prediction %}
      <div class="result">{{ prediction }}</div>
    {% endif %}
  </div>
</body>
</html>
