<!DOCTYPE html>
<html>
<head>
  <title>Mushroom Edibility Detector 🍄</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>Mushroom Edibility Detector 🍄</h1>
    <p>Select the characteristics of a mushroom to see if it's edible or poisonous.</p>

    <form method="POST">
      <label>Cap Shape:</label>
      <select id = "cap-shape" name="cap-shape" required>
         <option value = "c"> conical </option> 
         <option value = "x"> convex </option> 
         <option value = "f"> flat </option> 
         <option value = "k"> knobbed </option> 
         <option value = "s"> sunken </option> 
        </select>

      <label>Cap Surface:</label>
      <select id="text" name="cap-surface" required>
        <option value = "f"> fibrous </option>
        <option value = "g"> grooves </option>
        <option value = "y"> scaly </option>
        <option value = "s"> smooth </option>
      </select>

      <label>Cap Color:</label>
      <select id="text" name="cap-color" required>
        <option value = "n"> brown </option>
        <option value = "b"> buff </option>
        <option value = "c"> cinnamon </option>
        <option value = "g"> gray </option>
        <option value = "r"> green </option>
        <option value = "p"> pink </option>
        <option value = "u"> purple </option>
        <option value = "e"> red </option>
        <option value = "w"> white </option>
        <option value = "y"> yellow </option>
      </select>

      <label>Bruises:</label>
      <select id="text" name="bruises" required>
        <option value = "t"> bruises </option>
        <option value = "f">no </option>
      </select>

      <label>Odor:</label>
      <select id="text" name="odor" required>
        <option value = "a"> almond </option>
        <option value = "l"> anise </option>
        <option value = "c"> creosote </option>
        <option value = "y"> fishy </option>
        <option value = "m"> musty </option>
        <option value = "n"> none </option>
        <option value = "p"> pungent </option>
        <option value = "s"> spicy </option>
        </select>

      <label>Gill Attachment:</label>
      <select id="text" name="gill-attachment" required>
        <option value = "a"> attached </option>
        <option value = "d"> descending </option>
        <option value = "f"> free </option>
        <option value = "n"> notched </option>
      </select>

      <label>Gill Spacing:</label>
      <select id="text" name="gill-spacing" required>
        <option value = "c"> close </option>
        <option value = "w"> crowded </option>
        <option value = "d"> distant </option>
      </select>

      <label>Gill Size:</label>
      <select id="text" name="gill-size" required>
        <option value = "b"> broad </option>
        <option value = "n"> narrow </option>
      </select>

      <label>Gill Color:</label>
      <select id="text" name="gill-color" required>
        <option value = "k"> black </option>
        <option value = "n"> brown </option>
        <option value = "b"> buff </option>
        <option value = "h"> chocolate </option>
        <option value = "g"> gray </option>
        <option value = "r"> green </option>
        <option value = "o"> orange </option>
        <option value = "p"> pink </option>
        <option value = "u"> purple </option>
        <option value = "e"> red </option>

      </select>

      <label>Stalk Shape:</label>
      <select id="text" name="stalk-shape" required>
        <option value = "e"> enlarging </option>
        <option value = "t"> tapering </option>

      </select>

      <label>Stalk Root:</label>
      <select id="text" name="stalk-root" required>
        <option value = "b"> bulbous </option>
        <option value = "c"> club </option>
        <option value = "u"> cup </option>
        <option value = "e"> equal </option>
        <option value = "z"> rhizomorphs </option>
        <option value = "r"> rooted </option>
        <option value = "?"> missing </option>

      </select>

      <label>Stalk Surface Above Ring:</label>
      <select id="text" name="stalk-surface-above-ring" required>
        <option value = "f"> fibrous </option>
        <option value = "y"> scaly </option>
        <option value = "k"> silky </option>
        <option value = "s"> smooth </option>
    
      </select>

      <label>Stalk Surface Below Ring:</label>
      <select id="text" name="stalk-surface-below-ring" required>
        <option value = "f"> fibrous </option>
        <option value = "y"> scaly </option>
        <option value = "k"> silky </option>
        <option value = "s"> smooth </option>

      </select>

      <label>Stalk Color Above Ring:</label>
      <select id="text" name="stalk-color-above-ring" required>
        <option value = "n"> brown </option>
        <option value = "b"> buff </option>
        <option value = "c"> cinnamon </option>
        <option value = "g"> gray </option>
        <option value = "o"> orange </option>
        <option value = "p"> pink </option>
        <option value = "e"> red </option>
        <option value = "w"> white </option>
        <option value = "y"> yellow </option>


      </select>  

      <label>Stalk Color Below Ring:</label>
      <select id="text" name="stalk-color-below-ring" required>
        <option value = "n"> brown </option>
        <option value = "b"> buff </option>
        <option value = "c"> cinnamon </option>
        <option value = "g"> gray </option>
        <option value = "o"> orange </option>
        <option value = "p"> pink </option>
        <option value = "e"> red </option>
        <option value = "w"> white </option>
        <option value = "y"> yellow </option>

      </select>

      <label>Veil Type:</label>
      <select id = "veil-type" name="veil-type" required>
         <option value = "p"> Partial</option> 
         <option value = "u"> Universal</option> 
      </select>
      
      <label>Veil Color:</label>
      <select id = "veil-color" name="veil-color" required>
         <option value = "n"> Brown</option> 
         <option value = "o"> Orange</option>
         <option value = "w"> White</option>
         <option value = "y"> Yellow</option>
      </select>
      
      <label>Ring Number:</label>
      <select id = "ring-number" name="ring-number" required>
         <option value = "n"> None</option> 
         <option value = "o"> One</option>
         <option value = "t"> Two</option>
      </select>
      
      <label>Ring Type:</label>
      <select id = "ring-type" name="ring-type" required>
         <option value = "c"> Cobwebby</option> 
         <option value = "e"> Evanescent</option>
         <option value = "f"> Flaring</option>
         <option value = "l"> Large</option>
         <option value = "n"> None</option>
         <option value = "p"> Pendant</option>
         <option value = "s"> Sheating</option>
         <option value = "z"> Zone</option>
      </select>
      <label>Spore Print Color:</label>
      <select id = "spore-print-color" name="spore-print-color" required>
         <option value = "k"> Black</option> 
         <option value = "n"> Brown</option>
         <option value = "b"> Buff</option>
         <option value = "h"> Chocolate</option>
         <option value = "r"> Green</option>
         <option value = "o"> Orange</option>
         <option value = "u"> Purple</option>
         <option value = "w"> White</option>
         <option value = "y"> Yellow</option>
      </select>
      
      <label>Population:</label>
      <select id = "population" name="population" required>
         <option value = "a"> Abundant</option> 
         <option value = "c"> Clustered</option>
         <option value = "n"> Numerous</option>
         <option value = "s"> Scattered</option>
         <option value = "v"> Several</option>
         <option value = "y"> Solitary</option>
      </select>
      
      <label>Habitat:</label>
      <select id = "habitat" name="habitat" required>
         <option value = "g"> Grasses</option> 
         <option value = "l"> Leaves</option>
         <option value = "m"> Meadows</option>
         <option value = "p"> Paths</option>
         <option value = "u"> Urban</option>
         <option value = "w"> Waste</option>
         <option value = "d"> Woods</option>
      </select>
      
      <button type="submit">Predict</button>
    </form>

    {% if prediction %}
      <div class="result">{{ prediction }}</div>
    {% endif %}
  </div>
</body>
</html>
